numpy
pandas
matplotlib
tqdm
scikit-learn
seqeval
torch
inflect
nltk
git+https://github.com/boudinfl/pke.git
gensim
xgboost
pytorch-pretrained-bert
tiny-tokenizer
pytorch_transformers
flair
tensorflow
